<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Patient Details</title>
    
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h2>Patient Details</h2>

    <form action="" method = "POST">
        <div class="form-group row">
          <label for="id">Id</label>
          <input type="text" class="form-control" name="id" id="id" value="{{patient.id}}">
        </div>
        <div class="form-group row">
            <label for="name">Maker and Model</label>
            <input type="text" class="form-control" name="name" id="name" value="{{patient.name}}">
        </div>
        <button type="btnAdd" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-primary">Cancel</a>
      </form>
</body>