<!DOCTYPE html>
<html>
  <head>
    <title>Document Plot</title>
  </head>
  <body>
    <h1>{{ document._id }}</h1>
    <h2>Time: {{ document.time }}</h2>

    {% if plot_image %}
    <h2>ECG Signal:</h2>
    <img src="data:image/png;base64,{{ plot_image }}" />
    {% endif %}
    <div class="mt-3">
      {% if label %}
        <h2>Predicted CVD type:</h2>
        <ul>
          {% for key, value in data.items() %}
            <li>{{ key }} ({{ value }})</li>
          {% endfor %}
        </ul>
      {% else %}
        <h4>No CVD detected.</h4>
      {% endif %}
    </div>
  </body>
</html>
