<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ECG Signal Plot</title>
  </head>
  <body>
    <img src="data:image/png;base64,{{ plot_image }}" alt="ECG Signal Plot">
  </body>
</html>
