
<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<title> Group 1 Hospital </title>

	<link href="css/style.css" type="text/css" rel="stylesheet">

</head>
<body>

	<div class="top">
		<div>
		 Contact Us +91 96366 20000 / 01 | group1@hospital.com
		</div>
	</div>

	<div class="logo">
		<div>
			<table>
				<tr>
					<td width="600px" style="font-size:50px;font-family:forte;"> <font color="#428bca"> Group1  </font><font color="#000"> Hospital</font> </td>
					<td> <br> <br>
						<font size="4px">
							<a href="about.html">HOME</a>
							<a href="doctor.html">DOCTORS</a>
							<a
						</font>
					</td>
				</tr>
			</table>
		</div>
	</div>





	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000">------------ </font> <br> <br>

					<font color="#000" size="6px"> This page is for updating patient Information </font> <br> <br>



<br>
<br>
<br>
 </td>


					<td style="padding-left:20px;"> </td>
				</tr>


			</table>
		</div>
	</div>


	<div class="nav_down">
		<div>
		 &copy; GR1 Hospital, site designed & developed by Group1
		</div>
	</div>
<p>The fieldset element is used to group related data in a form, and the legend element defines a caption for the fieldset element.</p>

    <meta charset="UTF-8">
    <title>Python Flask MongoDB Upload File and validate before save to Database</title>
  </head>
  <body>

  <h3>Select a file to upload</h3>
        <p>
         {% with messages = get_flashed_messages() %}
           {% if messages %}
          {% for message in messages %}
            <div class="alert alert-primary">
             <strong>{{ message }}</strong>
           </div>
          {% endfor %}
           {% endif %}
         {% endwith %}
        </p>
<form method="post" action="/interface_upload_test" enctype="multipart/form-data">
 <p>Name : <input type="text" name="txtusername" value="" placeholder="User Name" required> </p>
 <p>Email : <input type="email" name="inputEmail" placeholder="Email address" required></p>
  <p>
   <input type="file" name="inputFile" autocomplete="off" required onchange="loadFile(event)">
  </p>
    <p>
  <input type="submit" value="Submit">
 </p>
</form>
<img id="output" width="500"/>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src)
    }
  };
</script>

<style>
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
</style>
    </body>
</html>